<!DOCTYPE html>
{% extends 'base-admin.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <!-- 검색란 -->
    <div class="query_menu my-1 p-1 border rounded small">
        << 검색란 >>
        <table class="table table-sm text-center" style="table-layout: fixed">
        <tr class="bg-dark text-white">
            <!--<th class="">서버/호스트</th>-->
            <th class="rounded-left">연관부서</th>
			<th class="">레파지토리 명</th>
            <th class="">레파지토리 URL</th>
            <th class="">계정명</th>
            <th class="">Jira URL</th>
            <th class="">비고</th>
            <th class="rounded-right"></th>
        </tr>
        <tr>
            <!--<form class="form-inline" action="{ url 'adminAccount:adminAccount_fn_search' }" method="POST">-->
            <form class="form-inline" action="{% url 'account_repository_select' %}" method="post">
            {% csrf_token %}

            <td class="">
                <input class="form-control form-control-sm" id="repository_team" name="repository_team" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="repository_name" name="repository_name" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="repository_url" name="repository_url" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="account_user" name="account_user" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="url" name="url" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="info" name="info" type="text" placeholder="">
            </td>
            <td class="">
                    <button class="btn btn-outline-primary btn-sm" type="submit">검색</button>
            </td>

            </form>
        </tr>
        </table>
    </div>

    <!-- 입력란 -->
    <div class="query_menu my-1 p-1 border rounded small">
        << 입력란 >>
        <table class="table table-sm text-center" style="table-layout: fixed">
        <tr class="bg-dark text-white">
            <!--<th class="">서버/호스트</th>-->
			<th class="rounded-left">연관부서</th>
			<th class="">레파지토리 명</th>
			<th class="">레파지토리 URL</th>
            <th class="">계정명</th>
            <th class="">Jira URL</th>
            <th class="">비고</th>
            <th class="rounded-right"></th>
        </tr>
        <tr>
            <form class="form-inline" action="" method="" name="insertForm">
            {% csrf_token %}

            <td class="">
                <input class="form-control form-control-sm" id="repository_team" name="repository_team" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="repository_name" name="repository_name" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="repository_url" name="repository_url" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="account_user" name="account_user" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="url" name="url" type="text" placeholder="">
            </td>
            <td class="">
                <input class="form-control form-control-sm" id="info" name="info" type="text" placeholder="">
            </td>

            <td class="">
                <button class="btn btn-outline-danger btn-sm" onclick="insertBox();" type="submit">입력</button>

                    <script type="text/javascript">
                        function insertBox() {
                            var retVal = confirm("입력하시겠습니까?");
                            if (retVal == true ){
                                var insertForm = document.insertForm;
                                insertForm.action="{% url 'account_repository_insert' %}";
                                insertForm.method="post";
                                insertForm.submit();
                            }else{
                                return;
                            }
                        }
                    </script>

            </td>

            </form>
        </tr>
        </table>
    </div>

    <!-- 결과란 --> <br>
    <div class="board small">
        << 결과란 >>

        <table class="table table-sm table-hover">
            <tr class="bg-dark text-white">
				<th class="rounded-left">일자</th>
				<th class="">연관부서</th>
				<th class="">레파지토리 명</th>
				<th class="">레파지토리 URL</th>
				<th class="">계정명</th>
				<th class="">Jira URL</th>
                <th class="rounded-right">비고</th>
            </tr>
            {% for account_repository in account_repositories %}

            <tr data-toggle="modal" data-target="#myModal"
			    data-id="{{ account_repository.id }}"
			    data-create_dt="{{ account_repository.create_dt|date:'Y/m/d H:i:s' }}"
				data-repository_team="{{ account_repository.repository_team}}"
			    data-repository_name="{{ account_repository.repository_name }}"
			    data-repository_url="{{ account_repository.repository_url }}"
			    data-account_user="{{ account_repository.account_user }}"
			    data-url="{{ account_repository.url }}"
			    data-info="{{ account_repository.info }}" style = "cursor:pointer;">
                <td style = "width: 6%;">{{ account_repository.create_dt|date:'Y/m/d' }}</td>
                <td style = "width: 8%;">{{ account_repository.repository_team}}</td>
				<td style = "width: 10%;">{{ account_repository.repository_name }}</td>
                <td style = "width: 30%;">{{ account_repository.repository_url }}</td>
                <td style = "width: 10%;">{{ account_repository.account_user }}</td>
                <td style = "width: 8%;">{{ account_repository.url }}</td>
                <td style = "width: 28%;">{{ account_repository.info }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <!-- Page Navy -->
	<table>
	<td>
		<nav aria-label="Page navigation example">
  		<ul class="pagination pagination-sm">
    		{% if account_repositories.has_previous %}
			<li class="page-item"><a class="page-link" href="?page=1">&laquo; 맨 처음</a></li>
			<li class="page-item"><a class="page-link" href="?page={{ account_repositories.previous_page_number }}">이전</a></li>
			{% endif %}

			<li class="page-item"><a class="page-link" href="#">
		    Page {{ account_repositories.number }} of {{ account_repositories.paginator.num_pages }}
			</a></li>

			{% if account_repositories.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ account_repositories.next_page_number }}">다음</a></li>
			<li class="page-item"><a class="page-link" href="?page={{ account_repositories.paginator.num_pages }}">마지막 &raquo;</a></li>
			{% endif %}
		</ul>
		</nav>
	</td>
	<td>
		<div class="form-group">
		<select class="form-control form-control-sm" id="selectbox" name="selectbox" onchange='location.href="?pagelist=" + this.value'>
				<option value="10">10개</option>
				<option value="20">20개</option>
				<option value="30">30개</option>
		</select>
  		</div>
	</td>
	</table>


    <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header small">
					<!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->

					<!-- Nav tabs -->
					<ul class="nav nav-pills" role="tablist">
						<li>
							<a class="nav-link active btn-outline-dark" href="#updateTab" aria-controls="updateTab" role="tab" data-toggle="tab">수정</a>
						</li>
						<li>
							<a class="nav-link btn-outline-dark" href="#deleteTab" aria-controls="deleteTab" role="tab" data-toggle="tab">삭제</a>
						</li>
					</ul>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<!-- Modal Body -->
				<div class="modal-body small">
					<div role="tabpanel">

						<!-- Modal Tab panes -->
						<div class="tab-content">

							<!-- Modal Update-->
							<div role="tabpanel" class="tab-pane active fade show" id="updateTab">
                                <form class="" action="{% url 'account_repository_update' %}" method="post" name="updateForm">
                                {% csrf_token %}
								<!-- hidden id (pk) -->
								<input class="form-control form-control-sm" id="id" name="id" type="hidden">
								<table class="table table-sm table-hover text-center">
								<tr class="">
									<td style="width: 20%" class="bg-dark text-white align-middle">일자</td>
									<td style="width: 80%"><input class="form-control form-control-sm" id="create_dt" name="create_dt" type="text" readonly></td>
								</tr>
								<tr>
									<td class="bg-dark text-white align-middle">연관부서</td>
									<td><input class="form-control form-control-sm" id="repository_team" name="repository_team" type="text"></td>
								</tr>
								<tr class="">
									<td class="bg-dark text-white align-middle">레파지토리 명</td>
									<td><input class="form-control form-control-sm" id="repository_name" name="repository_name" type="text"></td>
								</tr>
								<tr>
									<td class="bg-dark text-white align-middle">레파지토리 URL</td>
									<td><input class="form-control form-control-sm" id="repository_url" name="repository_url" type="text"></td>
								</tr>
								<tr class="">
									<td class="bg-dark text-white align-middle">계정명</td>
									<td><input class="form-control form-control-sm" id="account_user" name="account_user" type="text"></td>
								</tr>
								<tr>
									<td class="bg-dark text-white align-middle">Jira URL</td>
									<td><input class="form-control form-control-sm" id="url" name="url" type="text"></td>
								</tr>
								<tr class="">
									<td class="bg-dark text-white align-middle">비고</td>
									<td><input class="form-control form-control-sm" id="info" name="info" type="text"></td>
								</tr>
								</table>

								<p class="text-right">수정 하시겠습니까?</p>

								<div class="modal-footer">
                                    <button type="submit" class="btn btn-sm btn-outline-primary">확인</button>
                                    <button type="" class="btn btn-sm btn-outline-danger" data-dismiss="modal">취소</button>
								</div>
                                </form>
							</div>

                            <!-- Modal Delete -->
							<div role="tabpanel" class="tab-pane fade" id="deleteTab">
                                <form class="" action="{% url 'account_repository_delete' %}" method="post" name="deleteForm">
                                {% csrf_token %}
								<!-- hidden id (pk) -->
								<input class="form-control form-control-sm" id="id" name="id" type="hidden">
								<table class="table table-sm table-hover text-center">
								<tr class="">
									<td style="width: 20%" class="bg-dark text-white align-middle">일자</td>
									<td style="width: 80%"><input class="form-control form-control-sm" id="create_dt" name="create_dt" type="text" readonly></td>
								</tr>
								<tr>
									<td class="bg-dark text-white align-middle">연관부서</td>
									<td><input class="form-control form-control-sm" id="repository_team" name="repository_team" type="text" readonly></td>
								</tr>
								<tr class="">
									<td class="bg-dark text-white align-middle">레파지토리 명</td>
									<td><input class="form-control form-control-sm" id="repository_name" name="repository_name" type="text" readonly></td>
								</tr>
								<tr>
									<td class="bg-dark text-white align-middle">레파지토리 URL</td>
									<td><input class="form-control form-control-sm" id="repository_url" name="repository_url" type="text" readonly></td>
								</tr>
								<tr class="">
									<td class="bg-dark text-white align-middle">계정명</td>
									<td><input class="form-control form-control-sm" id="account_user" name="account_user" type="text" readonly></td>
								</tr>
								<tr>
									<td class="bg-dark text-white align-middle">Jira URL</td>
									<td><input class="form-control form-control-sm" id="url" name="url" type="text" readonly></td>
								</tr>
								<tr class="">
									<td class="bg-dark text-white align-middle">비고</td>
									<td><input class="form-control form-control-sm" id="info" name="info" type="text" readonly></td>
								</tr>
								</table>
								<p class="text-right">삭제 하시겠습니까?</p>

								<div class="modal-footer">
                                    <button type="submit" class="btn btn-sm btn-outline-primary">확인</button>
                                    <button type="" class="btn btn-sm btn-outline-danger" data-dismiss="modal">취소</button>
								</div>
                                </form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal window option script -->
    <script>
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
		var id = button.data('id');
		var create_dt = button.data('create_dt');
		var repository_name = button.data('repository_name');
		var repository_url = button.data('repository_url');
		var repository_team = button.data('repository_team');
		var account_user = button.data('account_user');
		var url = button.data('url');
		var info = button.data('info');

        var modal = $('#updateTab')
		modal.find('#id').val(id);
	    modal.find('#create_dt').val(create_dt);
		modal.find('#repository_name').val(repository_name);
		modal.find('#repository_url').val(repository_url);
		modal.find('#repository_team').val(repository_team);
		modal.find('#account_user').val(account_user);
		modal.find('#url').val(url);
		modal.find('#info').val(info);

        var modal = $('#deleteTab')
		modal.find('#id').val(id);
	    modal.find('#create_dt').val(create_dt);
		modal.find('#repository_name').val(repository_name);
		modal.find('#repository_url').val(repository_url);
		modal.find('#repository_team').val(repository_team);
		modal.find('#account_user').val(account_user);
		modal.find('#url').val(url);
		modal.find('#info').val(info);
    })
    </script>

    {% endblock %}
</body>
</html>