<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block content %}

    <div class="board">
        <table class="tg">
            <tr>
                <th class="tg-code"> 코드</th>
                <th class="tg-type"> 타입</th>
                <th class="tg-question"> 질문</th>
                <th class="tg-answer"> 답변</th>
            </tr>
            {% for faq in faqs %}
            <tr>
                <td>{{ faq.faq_id }}</td>
                <td>{{ faq.faq_type }}</td>
                <td>{{ faq.faq_question }}</td>
                <td>{{ faq.faq_answer }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <span class="step-links">
    	{% if faqs.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ faqs.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
		Page {{ faqs.number }} of {{ faqs.paginator.num_pages }}.
		</span>

		{% if faqs.has_next %}
			<a href="?page={{ faqs.next_page_number }}">next</a>
			<a href="?page={{ faqs.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	    </span>

    {% endblock %}

</body>
</html>
