<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block content %}

    <div class="test">

        <div class="">
            <h1>Welcome to DBA admin page!</h1>
            <p>
                본 어드민 페이지는 공사중입니다.<br>
                문의가 필요하시면 인프라팀 DB파트로 문의주세요.
            </p>
        </div>

    </div>

    {% endblock %}
</body>
</html>
