<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block content %}

    <div class="admin1">

        <div class="admin1">
            <h1>adminAccount Select Page</h1>
            <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.<br>Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
        </div>

        <div class="test_1">
            <p><a class="btn11" href="/home">Go main</a>,
            <a class="btn11" href="http://google.com">Go google</a></p>
        </div>

    </div>


    <!-- 검색란 -->

    <div class="query_menu my-1 p-1 border rounded small">
        << 검색란 >>
        <table class="table table-sm text-center" style="table-layout: fixed">
        <tr class="bg-dark text-white">
            <!--<th class="">서버/호스트</th>-->
            <th class="">코드</th>
            <th class="">타입</th>
            <th class="">질문</th>
            <th class="">답변</th>
            <th class=""></th>
        </tr>
        <tr>
            <form class="form-inline" action="{% url 'test_select' %}" method="post">
            {% csrf_token %}

            <td class="">
                <input class="form-control" id="v_code" name="v_code" type="text" placeholder="" />
            </td>
            <td class="">
                <input class="form-control" id="v_type" name="v_type" type="text" placeholder="" />
            </td>
            <td class="">
                <input class="form-control" id="v_question" name="v_question" type="text" placeholder="" />
            </td>
            <td class="">
                <input class="form-control" id="v_answer" name="v_answer" type="text" placeholder="" />
            </td>
            <td class="">
                <button class="btn btn-outline-primary" type="submit">검색</button>
            </td>

            </form>
        </tr>
        </table>
    </div>


    <!-- 입력란 -->

    <div class="query_menu my-1 p-1 border rounded small">
        << 입력란 >>
        <table class="table table-sm text-center" style="table-layout: fixed">
        <tr class="bg-dark text-white">
            <!--<th class="">서버/호스트</th>-->
            <th class="">코드</th>
            <th class="">타입</th>
            <th class="">질문</th>
            <th class="">답변</th>
            <th class=""></th>
        </tr>
        <tr>
            <form class="form-inline" action="" method='' name="insertForm">
            {% csrf_token %}

            <td class="">
                <input class="form-control" id="v_code" name="v_code" type="text" placeholder="" />
            </td>
            <td class="">
                <input class="form-control" id="v_type" name="v_type" type="text" placeholder="" />
            </td>
            <td class="">
                <input class="form-control" id="v_question" name="v_question" type="text" placeholder="" />
            </td>
            <td class="">
                <input class="form-control" id="v_answer" name="v_answer" type="text" placeholder="" />
            </td>
            <td class="">
                <button class="btn btn-outline-danger" onclick="insertBox();" type="submit">입력</button>

                    <script type="text/javascript">
                        function insertBox() {
                            var retVal = confirm("입력하시겠습니까?");
                            if (retVal == true ){
                                var insertForm = document.insertForm;
                                insertForm.action="{% url 'test_select' %}";
                                insertForm.method="post";
                                insertForm.submit();
                            }else{
                                return;
                            }
                        }
                    </script>

            </td>

            </form>
        </tr>
        </table>
    </div>


    <!-- 결과란 -->

    <br>
    <div class="board small">
        << 결과란 >>
        <!--<table class="table table-striped table-sm">-->
        <table class="table table-sm table-hover">
            <tr class="bg-dark text-white">
                <th> 번호</th>
                <th> 코드</th>
                <th> 타입</th>
                <th> 질문</th>
                <th> 답변</th>
            </tr>
            {% for faq in faqs %}
            <tr>
                <td>{{ faq.id }}</td>
                <td>{{ faq.faq_id }}</td>
                <td>{{ faq.faq_type }}</td>
                <td>{{ faq.faq_question }}</td>
                <td>{{ faq.faq_answer }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <span class="step-links small">

    	{% if faqs.has_previous %}
		    <a href="?page=1">&laquo; 맨 처음</a>
		    <a href="?page={{ faqs.previous_page_number }}">이전</a>
		{% endif %}

		<span class="current">
		    Page {{ faqs.number }} of {{ faqs.paginator.num_pages }}.
		</span>

		{% if faqs.has_next %}
			<a href="?page={{ faqs.next_page_number }}">다음</a>
			<a href="?page={{ faqs.paginator.num_pages }}">마지막 &raquo;</a>
		{% endif %}
	</span>

    {% endblock %}

</body>
</html>